body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.round-picks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 48px 0;
    gap: 96px;
}

.available-picks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0;
    gap: 36px;
}

.pick {
    padding: 16px 24px;
    background: none;
    border: none;
    font-size: 48px;
    cursor: pointer;
}

.game-score {
    display: flex;
    justify-content: space-around;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    margin-top: 96px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
