@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 48px;
}

h1 {
    font-weight: 300;
}

.round-picks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 48px 0;
    gap: 96px;
    font-size: 64px;
}

.available-picks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0;
    gap: 36px;
}

button {
    padding: 16px 24px;
    background: none;
    border: none;
    font-size: 48px;
    cursor: pointer;
    margin: 8px;
    font-weight: 100;
}

.game-score {
    display: flex;
    justify-content: space-around;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    margin: 96px 0;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    font-size: 36px;
}

.human-score, .computer-score {
    font-weight: 100;
}

.end-game-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 200;
}

.end-game-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
